<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
             <div class="col l4 m12 s12">
                <h5 class="white-text">Get in touch with us</h5>
                <ul>
                    <li class="white-text">NSS DTU</li>
                    <li class="white-text">Delhi Technological University</li>
                    <li class="white-text">110042</li>
                </ul>
            </div>
            <div class="col l4 m12 s12">
                <h5 class="white-text">Copyrights</h5>
                <ul>
                    <li class="white-text">&copy Copyright 2017</li>
                    <li class="white-text">All rights reserved by NSS DTU</li>
                </ul>
            </div>
            <div class="col l4 m12 s12">
                <h5 class="white-text">Social</h5>
                <div class="col l6 m6 s6">
                  <ul>
                      <li>
                          <a class="white-text" href="https://www.facebook.com/NSSDelTech/">
                              <i class="small fa fa-facebook-square white-text"></i> &nbsp&nbsp Facebook
                          </a>
                      </li>

                      <li>
                          <a class="white-text" href="https://nssdeltech.wordpress.com/">
                              <i class="small fa fa-wordpress white-text"></i> &nbsp Wordpress
                          </a>
                      </li>
                    </ul>
                </div>
                <div class="col l6 m6 s6">
                  <ul>
                    <li>
                        <a class="white-text" href="https://twitter.com/NSSDTU">
                            <i class="small fa fa-twitter-square white-text"></i> &nbsp&nbsp Twitter
                        </a>
                    </li>


                    <li>
                        <a class="white-text" href="https://www.linkedin.com/company/national-service-scheme-dtu">
                            <i class="small fa fa-linkedin-square white-text"></i> &nbsp&nbsp Linkedin
                        </a>
                    </li>
                </ul>
                </div>


            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="#">Web Development Team, NSS DTU</a>
        </div>
    </div>
</footer>
