<div id="intro" class="section scrollspy hide-on-med-and-down">
    <div class="container">
    <div class="fb-page" data-href="https://www.facebook.com/NSSDelTech/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/NSSDelTech/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NSSDelTech/">NSS DTU</a></blockquote></div>
  </div>
</div>
<div id="intro" class="section scrollspy hide-on-med-and-down">
    <div class="container">
    <a class="twitter-timeline" data-height="400" href="https://twitter.com/NSSDTU">Tweets by NSS DTU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
