<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>NSS DTU</title>

    <!-- CSS  -->



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
      
    <link href="/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/min/custom-min.css" type="text/css" rel="stylesheet" >

    <!-- bootstrap -->

    <link rel="stylesheet" href="/assets/animate/set.css" />
    <!-- gallery -->
    <link rel="stylesheet" href="/assets/gallery/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="http://widgets.wp.com/platform.js"></script>

</head>
<body id="top" class="scrollspy">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=251775028586444";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
  </div>
<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

  <% include ./partials/navbar %>

  <%- body -%>

  <% include ./partials/footer %>

    <!--  Scripts-->
    <script src="/min/plugin-min.js"></script>
    <script src="/min/custom-min.js"></script>
    <script type="text/javascript" src="/min/jquery.easy-ticker.js"></script>
    <script id="dsq-count-scr" src="//nss-dtu.disqus.com/count.js" async></script>

    <script type="text/javascript">
    $(document).ready(function(){
    $('.recent').easyTicker({
    direction: 'up', // up or down
    easing: 'swing', // easing function
    speed: 'slow', // the speed of transition
    interval: 6000, // the time for the next transition to take place.
    height: 'auto', // the height of the elements
    visible: 0, // the number of visible elements of the list
    mousePause: 1, // pause on mouse hover
    controls:{ // assign the elements which control the transition.
    up: '',
    down: '',
    toggle: ''
    }
    });
    });
    </script>


    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title">Title</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>

    <!-- wow script -->
    <script src="/assets/wow/wow.min.js"></script>
    <!-- gallery -->
    <script src="/assets/gallery/jquery.blueimp-gallery.min.js"></script>


    </body>
</html>
