<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>NSS DTU</title>

    <!-- CSS  -->

    <link href="/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/min/custom-min.css" type="text/css" rel="stylesheet" >

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="http://widgets.wp.com/platform.js"></script>

</head>
<body id="top" class="scrollspy">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=251775028586444";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

  <% include ./partials/navbar %>

  <%- body -%>

  <% include ./partials/footer %>

    <!--  Scripts-->
    <script src="/min/plugin-min.js"></script>
    <script src="/min/custom-min.js"></script>

    </body>
</html>
