/*testimonials*/
.partners img{float: left;margin:0 75px 30px 0;}
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #2BB2E3;}
.carousel-indicators{bottom: 0;}

/*works*/
#works{padding-top:2em;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*works*/
