<% layout('layout') -%>
<!--Intro and service-->
<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">

      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Nature of Work</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">NSS DTU has a volunteer base of around 250 students belonging to various disciplines of engineering at DTU. We work on a diverse range of social and environmental issues viz. literacy and health awareness. The overall aim of NSS-DTU is to give an extended dimension to the higher education system and orient the students towards community service while they are studying in the institution, more precisely, to establish a meaningful linkage between the campus and the community so that their interaction with the common villagers and slum dwellers will expose the students to the harsh realities of poverty-stricken life and bring about a change in their social perception.</p>
                  </div>
              </div>
          </div>
      </div>

      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> VC's Desk</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">The NSS-DTU volunteers make significant contributions to Delhi Technological University (D.T.U.) through their selfless service to the community. Their motto “Not Me But You” instills among them the philosophy of the organization and inspires the volunteers to recognize the needs of different components of the University community as well as the society.

                      The NSS-DTU lays down the path not only for the fullest personality development but also prepares oneself to be a responsible citizen during the student life shoving aside the insular sensibilities based of caste, creed, gender, religion and region. This opportunity one may not get, once he/she gets out of the University. Therefore, University is a right place to make use of this opportunity during their studies. The consistent efforts of volunteers have helped in bringing about a positive change in society. I am sure that the nation building process initiated by National Service Scheme –Delhi Technological University (NSS-DTU) volunteers will go a long way and bring cheers to the society.</p>
                  </div>
              </div>
          </div>
      </div>

      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Organisation</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">NSS-DTU is mentored and headed by our faculty advisor, Dr. Rajan Yadav, Associate Professor, Delhi School of Management. The team of volunteers is lead by the executive council of five NSS volunteers.

                      The enthusiastic student volunteers form an integral part of the NSS team whose relentless contribution and dedication make each event successful.</p>
                  </div>
              </div>
          </div>
      </div>


    </div>
    <div class="col l3 m12 s12">
      <%include ../partials/sidebar %>
    </div>

  </div>
</div>




<!--Team-->
<!-- <div class="section scrollspy" id="team">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"><span class="span_h2">Executive Council</span></h2>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar4.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
