<% layout('layout') -%>
<!--Intro and service-->
<!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span></span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">NSS DTU</b>
                <b>Not me, but you</b>
                <b>Rise Lead Serve</b>
            </span>
        </h1>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">

      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> About Us</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">
                        NSS DTU is a voluntary organization founded on 23 January 2013 with the aim of working towards a beautiful world and spreading message of environment, peace, education among today’s youth. We strive to organize events to spread awareness as well as to uplift the underprivileged sections. During this short span of journey, we have established a huge volunteer base who actively works towards building a better society via short term and regular events, both in and around university campus. We are also open to collaborating with different NGOs and volunteering in their projects.
                      </p>
                  </div>
              </div>
          </div>
      </div>


      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> From VC's Desk</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">The NSS-DTU volunteers make significant contributions to Delhi Technological University (D.T.U.) through their selfless service to the community. Their motto “Not Me But You” instills among them the philosophy of the organization and inspires the volunteers to recognize the needs of different components of the University community as well as the society.

                      The NSS-DTU lays down the path not only for the fullest personality development but also prepares oneself to be a responsible citizen during the student life shoving aside the insular sensibilities based of caste, creed, gender, religion and region. This opportunity one may not get, once he/she gets out of the University. Therefore, University is a right place to make use of this opportunity during their studies. The consistent efforts of volunteers have helped in bringing about a positive change in society. I am sure that the nation building process initiated by National Service Scheme –Delhi Technological University (NSS-DTU) volunteers will go a long way and bring cheers to the society.</p>
                  </div>
              </div>
          </div>
      </div>

      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Timeline</span></h3>
                  </div>

                  <div class="col s12 center">
                      <h4 class="left-align light">Chairman</h4>
                      <p class="left-align light">2013 - 2015 : Dr. Jai Gopal Sharma, D.T.U.</p>
                      <p class="left-align light">2015 - 2016 : Dr. Rajan Yadav, Associate Professor, D.T.U.</p>
                      <p class="left-align light">2016 - Present : Dr. Naokant Deo, Associate Professor, D.T.U.</p>
                  </div>

                  <div class="col s12 center">
                      <h4 class="left-align light">Council 2018-19</h4>
                      <p class="left-align light">Administration: Manas, somya</p>
                      <p class="left-align light">Communication: Siddhant patra</p>
                      <p class="left-align light">Corporate: Megha</p>
                      <p class="left-align light">Data Management: Siddhant Gupta</p>
                      <p class="left-align light">Logistics: Siddhant Kohli</p>
                      <p class="left-align light">Publicity: Shikhar</p>
                      <p class="left-align light">Treasurer: Nikita</p>
                      <p class="left-align light">WebD & App Dev: Shubham garg, Netri verma </p>
					  <p class="left-align light">Digital design: Deepanshu</p>
					  <p class="left-align light">Photography: Aditi Gupta</p>
                      <p class="left-align light">Education: B.Mahitha</p>
                      <p class="left-align light">Environment: Shivam Kumari</p>
                      <p class="left-align light">Govt. Schemes: Ashish</p>
                      <p class="left-align light">Health: Tuba ali</p>
                      <p class="left-align light">Rural Camp: Manas, Prateek</p>
                      <p class="left-align light">Women Empowerment: Shreya garg</p>
                  </div>
              </div>
          </div>
      </div>


    </div>
    <div class="col l3 m12 s12">
      <%include ../partials/sidebar %>
    </div>

  </div>
</div>




<!--Team-->
<!-- <div class="section scrollspy" id="team">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"><span class="span_h2">Executive Council</span></h2>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar4.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
