<% layout('layout') -%>
<!--Intro and service-->
<!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span></span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">NSS DTU</b>
                <b>Not me, but you</b>
                <b>Rise Lead Serve</b>
            </span>
        </h1>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">

      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> About Us</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">
                        NSS DTU is a voluntary organization founded on 23 January 2013 with the aim of working towards a beautiful world and spreading message of environment, peace, education among today’s youth. We strive to organize events to spread awareness as well as to uplift the underprivileged sections. During this short span of journey, we have established a huge volunteer base who actively works towards building a better society via short term and regular events, both in and around university campus. We are also open to collaborating with different NGOs and volunteering in their projects.
                      </p>
                  </div>
              </div>
          </div>
      </div>


      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> From VC's Desk</span></h3>
                  </div>

                  <div class="col s12 center">
                      <p class="left-align light">The NSS-DTU volunteers make significant contributions to Delhi Technological University (D.T.U.) through their selfless service to the community. Their motto “Not Me But You” instills among them the philosophy of the organization and inspires the volunteers to recognize the needs of different components of the University community as well as the society.

                      The NSS-DTU lays down the path not only for the fullest personality development but also prepares oneself to be a responsible citizen during the student life shoving aside the insular sensibilities based of caste, creed, gender, religion and region. This opportunity one may not get, once he/she gets out of the University. Therefore, University is a right place to make use of this opportunity during their studies. The consistent efforts of volunteers have helped in bringing about a positive change in society. I am sure that the nation building process initiated by National Service Scheme –Delhi Technological University (NSS-DTU) volunteers will go a long way and bring cheers to the society.</p>
                  </div>
              </div>
          </div>
      </div>

      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Timeline</span></h3>
                  </div>

                  <div class="col s12 center">
                      <h4 class="left-align light">Chairman</h4>
                      <p class="left-align light">2013 - 2015 : Dr. Jai Gopal Sharma, D.T.U.</p>
                      <p class="left-align light">2015 - 2016 : Dr. Rajan Yadav, Associate Professor, D.T.U.</p>
                      <p class="left-align light">2016 - Present : Dr. Naokant Deo, Associate Professor, D.T.U.</p>
                  </div>

                  <div class="col s12 center">
                      <h4 class="left-align light">Faculty Coordinator</h4>
                      <p class="left-align light">2019 - Present : Ms. Anamika Chauhan, Assistant Professor, IT department, D.T.U.</p>
                  </div>

                  <div class="col s12 center">
                      <h4 class="left-align light">Council 2020-21</h4>








    <table>
        <thead>
          <tr>
              <th>Department</th>
              <th>Heads</th>
              <th>Contacts</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Administration & Logistics</td>
            <td>Kuldeep, Aniket, Praveen Kumar</td>
            <td>7210278704, 8447838928, 7503999135</td>
          </tr>
          


          <tr>
            <td>Editorial & Photography</td>
            <td>Mayank Arya, Harshit Gupta</td>
            <td>9711008487, 9911626956</td>
          </tr>
          

          <tr>
            <td>Corporate & PR</td>
            <td>Mohammad Zubair, Bhavya Akhoury (Advisor)</td>
            <td>9718526070</td>
          </tr>
          




          <tr>
            <td>Database Management & Awareness</td>
            <td> Jitender, Sanchit, Mukul (Advisor)</td>
            <td>9205127538, 8076184626</td>
          </tr>
          
    


          <tr>
            <td>Graphics & Web Design</td>
            <td>Akul Gandotra, Mukul</td>
            <td>8383004709, 9582312169</td>
          </tr>
          
          
        </tbody>

        <thead>
            <tr>
                <th>Sectors</th>
                <th>Heads</th>
                <th>Contacts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Education
                </td>
                <td>
                    Divyam Goyal, Vidushi Gautam
                </td>
                <td>
                    9818137355, 7042714309
                </td>
            </tr>
            <tr>
                <td>
                    Environment
                </td>
                <td>
                    Nakul Dodeja, Bhawana Solanki
                </td>
                <td>
                    8130117314,9871501743
                </td>
            </tr>
            <tr>
                <td>Government Scheme & Road Safety</td>
                <td>Ayushi, Prachi Khobiyan</td>
                <td>8860365588, 7065339095</td>
            </tr>
            <tr>
                <td>Health & Women Empowerment</td>
                <td>Bhavya Akhoury, Rachna</td>
                <td>9953961091, 9821765031</td>
            </tr>
            <tr>
                <td>Rural Camp</td>
                <td>Prateek Mugdal</td>
                <td>9871629318</td>
            </tr>
        </tbody>

      </table>
            
                 </div>
              </div>
          </div>
      </div>


    </div>
    <div class="col l3 m12 s12">
      <%include ../partials/sidebar %>
    </div>

  </div>
</div>




<!--Team-->
<!-- <div class="section scrollspy" id="team">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"><span class="span_h2">Executive Council</span></h2>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar4.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
