<% layout('layout') -%>
  <div class="row">
    <div class="col l9 m9 s12">
      <div id="eventContainer" class="section scrollspy card-panel">
          <div class="container">
              <div class="row">
                  <div  class="col l12 m12 s12">
                      <h3 class="center header text_h2"><span class="span_h2"> <%= foundEvent.name %></span></h3>
                  </div>
                </div>
                <% if(foundEvent.images) {%>
                <div class="row">
                  <% for(var i=0; i < foundEvent.images.length;i++) {%>
                  <div class="col l6 m6 s12">
                    <img class="responsive-img" src="/img/gallery/<%= foundEvent.images[i].image %>">
                  </div>
                  <% } %>
                </div>
                <% } %>
                <div class="row">
                  <div class="col l12 m12 s12 center">
                    <% for(var i=0; i < foundEvent.content.length;i++) {%>
                      <p class="left-align light"><%= foundEvent.content[i].paragraph %></p>
                    <% } %>
                  </div>
              </div>
          </div>
      </div>

    </div>
    <div class="col l3 m3 s12">
      <%include ../partials/sidebar %>
    </div>

  </div>
