<% layout('layout') -%>
<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">

        <div class="row">
            <div  class="col s12">
                <h3 class="center header text_h2"><span class="span_h2"> Gallery</span></h3>
            </div>

            <% for(var i = 0; i< gallery.length;i++) {%>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/gallery/<%= gallery[i].image %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= gallery[i].name %></span>
                    </div>

                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>
