<% layout('layout') -%>
<!--Intro and service-->
<!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span></span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">NSS DTU</b>
                <b>Not me, but you</b>
                <b>Rise Lead Serve</b>
            </span>
        </h1>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">
      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Executives </span></h3>
                  </div>
    <table>
        <thead>
          <tr>
              <th>Department</th>
              <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Administration</td>
            <td>lovely, nidhi</td>
          </tr>
          

          <tr>
            <td>Corporate</td>
            <td>Priyal, Paragi</td>
          </tr>
          




          <tr>
            <td>Data Management</td>
            <td>  Rachit,Ashu</td>
          </tr>
          
    


          <tr>
            <td>Logistics</td>
            <td>Aryan,Gajender</td>
          </tr>
          




          <tr>
            <td>Publicity</td>
            <td>samadhrita, vibhor</td>
          </tr>
          


          <tr>
            <td>Treasurer</td>
            <td>Rohit, Shashank</td>
          </tr>
          

          <tr>
            <td>WebD & App Dev</td>
            <td>Lucky</td>
          </tr>


          <tr>
            <td>Digital design</td>
            <td> Deepanshu</td>
          </tr>

          
          <tr>
            <td>Digital</td>
            <td> Kunal</td>
          </tr>
                    

          <tr>
            <td>Education</td>
            <td>raghvender, Anirudh</td>
          </tr>
          


          <tr>
            <td>Environment</td>
            <td>pooja mahto, anuj kumar</td>
          </tr>
          

                     

          <tr>
            <td>Govt. Schemes</td>
            <td>puru, aishwary</td>
          </tr>
          
                      

          <tr>
            <td>Health</td>
            <td>piyush, akshat</td>
          </tr>
          



          <tr>
            <td>Rural Camp</td>
            <td> Rishabh, Roopa</td>
          </tr>
          



                  

          <tr>
            <td>Women Empowerment</td>
            <td>saransh, Samridhi</td>
          </tr>
          
  

           <tr>
             <td>Road safety</td>
             <td>Divyanshu , Gitanjali</td>
           </tr>

        </tbody>
      </table>
            

                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Volunteers </span></h3>
                  </div>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2k15 Volunteers.pdf">Volunteers 2015</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K16 Volunteers.pdf">Volunteers 2016</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K17 Volunteers.pdf">Volunteers 2017</a>

                  </div>
              </div>
          </div>
      </div>


    </div>
  </div>
</div>
