<% layout('layout') -%>
<!--Intro and service-->
<!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span></span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">NSS DTU</b>
                <b>Not me, but you</b>
                <b>Rise Lead Serve</b>
            </span>
        </h1>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">
      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Executives </span></h3>
                  </div>
    <table>
        <thead>
          <tr>
              <th>Department</th>
              <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Editorial</td>
            <td>Mayank Arya, Harshit Gupta</td>
          </tr>

            <tr>
            <td>Government schemes and youth empowerment</td>
            <td>Prachi Khobiyan, Ayushi Singh</td>
          </tr>

          <tr>
            <td>Admin and Treasurer</td>
            <td>Saransh Garg, Peeyush Tawani, Aman Kalra, Kuldeep</td>
          </tr>
          
          <tr>
            <td> Health</td>
            <td>Pritesh, Srishti</td>
          </tr>

          <tr>
            <td>Education</td>
            <td>Bhavya Akhoury, Varnit Sharma, Divyam Goyal, Vidushi Gautam</td>
          </tr>
          
          <tr>
            <td>Awareness</td>
            <td>Jitender, Bhawana</td>
          </tr>
          
          <tr>
            <td>WebD</td>
            <td>Akul, Ritika</td>
          </tr>

          <tr>
            <td>DB</td>
            <td>Mukul, Arnav Gosain</td>
          </tr>

          <tr>
            <td>Corporate</td>
            <td>Aniket Gupta</td>
          </tr>
          

          <tr>
            <td>Public Relations</td>
            <td>Vikhyat T, M. Zubair</td>
          </tr>


          <tr>
            <td>Digital Design</td>
            <td>Kunal Kashyap, Madhur Grover</td>
          </tr>

          <tr>
            <td>Women Empowerment</td>
            <td>Arpit Jindal, Lokesh Narayan</td>
          </tr>
          


          <tr>
            <td>Rural</td>
            <td>Prateek Mudgal, Rachna</td>
          </tr>

          <tr>
            <td>Photograhy</td>
            <td><i>Vacant</i>: Open for applications</td>
          </tr>
          
                      

          <tr>
            <td>Environment</td>
            <td>Aparna, Nakul</td>
          </tr>
          
          <tr>
            <td>Logistics</td>
            <td>Aniket, Sachin</td>
          </tr>

          <tr>
             <td>Road safety</td>
             <td>Praveen</td>
           </tr>

        </tbody>
      </table>
            

                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Volunteers </span></h3>
                  </div>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2k15 Volunteers.pdf">Volunteers 2015</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K16 Volunteers.pdf">Volunteers 2016</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K17 Volunteers.pdf">Volunteers 2017</a>

                  </div>
              </div>
          </div>
      </div>


    </div>
  </div>
</div>
